[submodule "repo/plugin.video.seren"]
	path = repo/plugin.video.seren
	url = https://github.com/nixgates/plugin.video.seren
[submodule "repo/context.seren"]
	path = repo/context.seren
	url = https://github.com/SerenKodi/context.seren
