[submodule "repo/plugin.video.seren"]
	path = repo/plugin.video.seren
	url = https://github.com/nixgates/plugin.video.seren
[submodule "repo/context.seren"]
	path = repo/context.seren
	url = https://github.com/SerenKodi/context.seren
[submodule "repo/script.module.tzlocal"]
	path = repo/script.module.tzlocal
	url = https://github.com/SerenKodi/script.module.tzlocal
[submodule "repo/resource.images.seren.icons"]
	path = repo/resource.images.seren.icons
	url = https://github.com/SerenKodi/resource.images.seren.icons
